html,
body {
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.55;
    margin: 0;
}

.banner {
    background-image: url(../img/home-banner@2x.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 75vw;
}

.banner-head {
    position: relative;
    top: 40%;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    z-index: 1000;
}

.nav-links {
    display: inline-flex;
    float: right;
    right: 2em;
    position: relative;
}

.nav-links li {
    padding: 0 1em;
    font-size: 0.9rem;
    font-weight: 400;
}

.nav-links:hover {
    border-bottom: 2px;
    border-color: coral;
    color: crimson;
}

.product-image {
    max-width: 20em;
    max-height: 2.5em;
    margin: 0.3em 0.1em;
}

.doist-image {
    max-width: 100%;
    max-height: auto;
    margin: 0.3em 0.1em;
}

.remote-image {
    width: 100%;
    height: auto;
}

footer {
    background-color: #f7f7f7;
    display: block;
    max-height: 5rem;
    min-height: 2rem;
    height: 100%;
    width: 100%;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0;
    border-bottom: 1.5px solid #e1e1e1;
}

.footer-links {
    display: flex;
}

.footer-links>li {
    padding: 0 2em;
    font-size: 0.9rem;
    font-weight: 400;
}

.social-links {
    display: flex;
}

.social-links>li {
    padding-left: 1em;
}

p {
    font-weight: 200;
    margin-top: 0.3em 0.1rem;
    color: gray;
    font-size: 1rem;
    width: 100%;
}

div {
    line-height: 0.5rem;
    width: 100%;
}

article {
    margin: 0.5em 0;
}

.motto {
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1.3125;
}

.work {
    color: #616161;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.55555556;
}

.banner-info {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 61.25rem;
    padding: 0 1rem;
}